{% extends 'imageresizer/_layouts' %}

{% includeCssResource 'imageresizer/css/Logs.css' %}

{% set crumbs = [
    { label: craft.imageResizer.getPluginName | t, url: url('imageresizer') },
    { label: "Logs" | t, url: url('imageresizer/logs') }
] %}

{% set selectedTab = 'logs' %}

{% block blockContent %}

<a class="btn right" href="{{ actionUrl('imageResizer/logs/clear') }}">{{ "Clear logs" | t }}</a>

<table id="logs" class="data fullwidth collapsible">
    <thead>
        <tr>
            <th scope="col" class="thin">{{ "Filename" | t }}</th>
            <th scope="col">{{ "Result" | t }}</th>
            <th scope="col">{{ "Timestamp" | t }}</th>
        </tr>
    </thead>

    <tbody>
        {% for entry in logEntries %}
            <tr>
                <td class="col-label" data-title="{{ 'Filename' | t }}">
                    <span class="">{{ entry.filename }}</span>
                </td>

                <td class="col-label" data-title="{{ 'Result' | t }}">
                    <span class="log-result {{ entry.result }}">{{ entry.result }}</span>

                    <span class="log-label {{ entry.result }}">
                        {{ entry.description }}

                        {% if entry.handle == 'success' %}
                            {% set prevSize = entry.data.prev.size %}
                            {% set currSize = entry.data.curr.size %}
                            {% set saved = prevSize - currSize %}
                            
                            {% set filesize = imageResizerMacro.filesize(saved) %}
                            {% set percentage = ((saved / prevSize) * 100) | number_format %}

                            {{ "Saved {perc}% ({num})." | t({ num: filesize, perc: percentage }) }}
                        {% endif %}

                        {% if entry.handle == 'error' %}
                            {{ entry.data.message }}
                        {% endif %}
                    </span>
                </td>

                <td data-title="{{ 'Timestamp' | t }}">
                    <code>
                        {{ entry.dateTime.localeDate() ~ ' ' ~ entry.dateTime.localeTime() }}
                    </code>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
