{% import '_includes/forms' as forms %}
{% import 'image-resizer/_macros' as macros %}

{% set additionalSettings = {
    sourceOptions: sourceOptions,
} %}

{{ forms.lightswitchField({
    label: 'Manage Resize for All Volumes' | t('image-resizer'),
    instructions: 'Whether you want to manage image resize settings for all asset volumes, or manage them individually for each volume.' | t('image-resizer'),
    id: 'useGlobalSettings',
    name: 'useGlobalSettings',
    on: settings.useGlobalSettings,
    warning: macros.configWarning('useGlobalSettings', 'image-resizer'),
    toggle: 'all-volume-settings',
    reverseToggle: 'volume-settings'
}) }}

{{ forms.lightswitchField({
    label: 'Skip larger resulting images' | t('image-resizer'),
    instructions: 'If the resizing process results in a larger image that the previous, do not replace with larger file.' | t('image-resizer'),
    id: 'skipLarger',
    name: 'skipLarger',
    on: settings.skipLarger,
    warning: macros.configWarning('skipLarger', 'image-resizer'),
}) }}

{{ forms.lightswitchField({
    label: 'Non-destructive' | t('image-resizer'),
    instructions: 'Image Resizer will save a pre-resize copy in an `originals` folder. Upload backups follow Craft’s configured image sanitization and metadata settings.' | t('image-resizer'),
    id: 'nonDestructiveResize',
    name: 'nonDestructiveResize',
    on: settings.nonDestructiveResize,
    warning: macros.configWarning('nonDestructiveResize', 'image-resizer'),
}) }}

<hr>

<div id="all-volume-settings">
    <h2>{{ 'All Asset Volume Settings' | t('image-resizer') }}</h2>

    {{ macros.resizeSetting(settings, additionalSettings) }}
</div>

<div id="volume-settings">
    {% for item in sourceOptions %}
        <h2>{{ "“{label}” Asset Volume Settings" | t('image-resizer', { label: item.label }) }}</h2>

        {{ macros.resizeSetting(settings, additionalSettings, item) }}

        {{ not loop.last ? '<hr>' }}
    {% endfor %}
</div>
