
.image-resizer-crop-modal .crop-image {
    position: relative;
    height: 100%;
}

.image-resizer-crop-modal {
    padding-bottom: 58px;
}

.image-resizer-crop-modal .spinner.big {
    position: absolute;
    top: 50%;
    margin: -24px;
    z-index: 1000;
}

.image-resizer-crop-modal .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 59px;
    margin: 0;
}

.image-resizer-crop-modal .footer .spinner {
    position: absolute;
}

body.ltr .buttons.leftalign {
    float: left;
}

body.ltr .buttons.rightalign {
    float: right;
}