
.image-resizer-modal {
    padding-bottom: 58px;
}

.image-resizer-modal .spinner.big {
    width: 100%;
    height: 100%;
 }

.image-resizer-modal .main {
    margin: -24px;
    padding: 24px;
    height: calc(100% - 48px);
    overflow: auto;
    position: relative;
}

.image-resizer-modal .body {
    position: relative;
    height: 100%;
}

.image-resizer-modal .body .content {
    height: calc(100% + 48px);
}

.image-resizer-modal .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.image-resizer-modal .footer .spinner {
    position: absolute;
}

.image-resizer-modal .footer .buttons.rightalign {
    float: right;
}



.image-resizer-modal .task {
    margin: 2.5em 0 0;
}

.image-resizer-modal .task .task-status {
    text-align: center;
}

.image-resizer-modal .task .task-status a {
    margin-left: 10px;
}

.image-resizer-modal .task .task-status .success {
    color: #27AE60;
}

.image-resizer-modal .task .task-status .error {
    color: #D0021B;
}

.image-resizer-modal .task .task-status .skipped {
    color: #F2842D;
}

