{% extends 'imageresizer/_layouts' %}

{% includeCssResource 'imageresizer/css/Settings.css' %}

{% includeCssResource 'imageresizer/css/ResizeElementAction.css' %}
{% includeJsResource 'imageresizer/js/ResizeElementAction.js' %}

{% set crumbs = [
    { label: craft.imageResizer.getPluginName | t, url: url('imageresizer') },
    { label: "Settings" | t, url: url('imageresizer/settings') }
] %}

{% set selectedTab = 'settings' %}
{% set fullPageForm = true %}

{% block blockContent %}

<input type="hidden" name="action" value="plugins/savePluginSettings">
<input type="hidden" name="pluginClass" value="imageResizer">

{% namespace 'settings' %}

<div class="pane first tableview settings-tabs">
    <nav id="settings-tabs" class="tabs">
        <ul>
            <li class="label">{{ "Settings" | t }}</li>
            <li><a id="settings-tab-resize" class="tab sel" href="#settings-resize" tabindex="0">{{ "Resize" | t }}</a></li>
            <li><a id="settings-tab-bulk" class="tab" href="#settings-bulk" tabindex="1">{{ "Bulk Resize" | t }}</a></li>
            <li><a id="settings-tab-crop" class="tab" href="#settings-crop" tabindex="2">{{ "Crop" | t }}</a></li>
            <li><a id="settings-tab-other" class="tab" href="#settings-other" tabindex="3">{{ "Other" | t }}</a></li>
        </ul>
    </nav>
</div>

{% set additionalSettings = {
    sourceOptions: sourceOptions,
} %}

<div id="resize">
    <h2>{{ "All Asset Source Settings" | t }}</h2>

    {{ imageResizerMacro.resizeSetting(settings, additionalSettings) }}

    {{ forms.lightswitchField({
        label: 'Skip larger resulting images' | t,
        instructions: 'If the resizing process results in a larger image that the previous, do not replace with larger file.' | t,
        id: 'skipLarger',
        name: 'skipLarger',
        on: settings.skipLarger,
    }) }}

    {{ forms.lightswitchField({
        label: 'Non-destructive' | t,
        instructions: 'Image Resizer will save a copy of your original image, untouched. This will be in a folder called `originals`, relative to the source image.' | t,
        id: 'nonDestructiveResize',
        name: 'nonDestructiveResize',
        on: settings.nonDestructiveResize,
    }) }}

    {% for item in sourceOptions %}
        <hr>

        <h2>{{ "{label} Asset Source Settings" | t({ label: item.label }) }}</h2>

        {{ imageResizerMacro.resizeSetting(settings, additionalSettings, item) }}
    {% endfor %}
</div>

<div id="bulk" class="hidden">
    <div class="field">
        <div class="heading">
            <label for="settings-assetFolders">{{ "Bulk Resize" | t }}</label>

            <div class="instructions">
                <p>{{ "For any Asset folder below, click on Bulk Resize to automatically resize all assets within." | t }}</p>
            </div>
        </div>

        <div class="input ltr">
            <table class="bulk-resize-table">
                {% for item in folderOptions %}
                    <tr>
                        <td>{{ item.label }}</td>

                        <td>
                            <div class="btn small bulk-resize-btn" data-id="{{ item.value }}" data-name="{{ item.label | t }}">
                                {{ "Bulk Resize" | t }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<div id="crop" class="hidden">
    <div class="field">
        {{ forms.lightswitchField({
            label: 'Non-destructive' | t,
            instructions: 'Image Resizer will save a copy of your original image, untouched. This will be in a folder called `originals`, relative to the source image.' | t,
            id: 'nonDestructiveCrop',
            name: 'nonDestructiveCrop',
            on: settings.nonDestructiveCrop,
        }) }}

        <div class="heading">
            <label for="settings-assetFolders">{{ "Cropping Aspect Ratios" | t }}</label>

            <div class="instructions">
                {{ "Manage the aspect ratios available to the cropping interface for images. Width and Height contraints should be provided as numbers relative to each other, or use special `none` or `relative`." | t | md }}
            </div>
        </div>

        <div class="input ltr">
            {% set cols = {
                name: { heading: 'Method Name' | t, type: 'singleline' },
                width: { heading: 'Width Constraint' | t, type: 'singleline' },
                height: { heading: 'Height Constraint' | t, type: 'singleline' },
            } %}

            {% set rows = settings.croppingRatios %}

            {{ forms.editableTable({
                id: 'croppingRatios',
                name: 'croppingRatios',
                cols: cols,
                rows: rows,
                addRowLabel: 'Add an aspect ratio' | t,
            }) }}
        </div>
    </div>
</div>

<div id="other" class="hidden">

    <a class="btn" href="{{ actionUrl('imageResizer/clearTasks') }}">{{ "Clear pending tasks" | t }}</a>

</div>

{% set myJs %}
    new Craft.BulkResizeAssetFolder('{{ settings.imageWidth }}', '{{ settings.imageHeight }}');
{% endset %}

{% includeJs myJs %}


{% endnamespace %}


{% endblock %}
